body {
    background-color: aquamarine;
}

.Card-container {
    display: flex;
    gap: 40px;
    justify-content: center;

}

header {
    text-align: center;
}

.Card-container img {
    max-width: 100%;
}

.card {
    width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
    background: linear-gradient(greenyellow, rgb(160, 126, 126), black);
    cursor: pointer;
    border-radius: 10px;
}

.card:hover {
    background: linear-gradient(black, rgb(255, 65, 65), rgb(236, 255, 208));
}

.card p {
    font-size: 13px;
    text-align: justify;
}